# Disable directory browsing
Options -Indexes

# ----------------------------------------------------------------------
# | Rewrite engine                                                     |
# ----------------------------------------------------------------------

# Set the "public" directory as the document root
# (Optional, if your server configuration already does this)
# RewriteBase /

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP_AUTHORIZATION}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # If we don't have a direct match, send it to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404s
    # can be sent to index.php, and everything works as normal.
    # Submitted by: JREYES (http://github.com/jreyes-f)
    ErrorDocument 404 /index.php
</IfModule>

# Disable server signature
ServerSignature Off
