#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = db4ccgnbnclgjg
database.default.username = ughgtdncr7ro5
database.default.password = mrL*1*P7ke&f
database.default.DBDriver = MySQLi
database.default.DBPrefix = 

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# JWT SECRET
#--------------------------------------------------------------------
JWT_SECRET = "GENERATE_WITH: openssl rand -base64 64"

#--------------------------------------------------------------------
# EMAIL
#--------------------------------------------------------------------
EMAIL_HOST = mail.q-tokens.com.mx
EMAIL_USERNAME = no-reply@q-tokens.com.mx
EMAIL_PASSWORD = Takis2026!
EMAIL_PORT = 465
EMAIL_SMTP_CRYPTO = ssl
EMAIL_FROM = no-reply@q-tokens.com.mx
EMAIL_FROM_NAME = "Luxottica Rewards"
